.img-div{
    position: relative;
    transform: translateY(-65%);
}
.title{
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    margin-top: -60px;
}
.description{
    text-align: center;
    margin-bottom: 10px;
}
